name: vortex tests

on:
  push:

  pull_request:

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.13", "3.14" ]

    steps:

    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[test,lint]"

    - name: Lint with flake8
      run: |
        flake8 src/vortex/

    - name: Run test suite
      env:
        VORTEX_BARCHART_USERNAME: ${{ secrets.VORTEX_BARCHART_USERNAME }}
        VORTEX_BARCHART_PASSWORD: ${{ secrets.VORTEX_BARCHART_PASSWORD }}
      run: |
        pytest tests/unit tests/integration tests/e2e -v --tb=short